.bgNotice
{
	width: 100%;
	height: 40px;
	background:url('#{facesContext.externalContext.requestContextPath}/resources/images/bg_thongtin.jpg') repeat-x left top;
}

.button
{
	font-size: 14px;
	font-weight: bold;
	width: 150px;
	border: 2px inset #6383d4;
	height: 30px;
	background:url('#{facesContext.externalContext.requestContextPath}/resources/images/bgTabs.jpg');
	color: white;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	cursor:pointer;
	position: relative;
}

.button:hover
{
	font-size: 12px;
	width: 150px;
	border-bottom-color: #6383d4;
	border: 2px inset #c3f1fb;
	height: 30px;
	color: white;
	text-shadow: 0 0 0.2em #525655, 0 0 0.2em #525655, 0 0 0.2em #525655;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	-moz-box-shadow: 0 0 3px 3px #c5cafe;
	-webkit-box-shadow: 0 0 3px 3px#c5cafe;
	box-shadow: 0 0 3px 3px #c5cafe;
	cursor:pointer;
}
