.title
{
	float:left;
	width: 960px;
	height: 40px;
	background:url(resources/images/bg_thongtin.jpg) repeat-x left top;
	font-family: cambria;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.button
{
	width: 150px;
	border: 1px inset #6383d4;
	-moz-border-radius-topleft:10px; 
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
}