body
{
	font-family: Arial, cambria;
	font-size: 12px;
}

.bt_header
{
	height: 25px;
	padding: 2px 10px 2px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #3698a8;
	cursor: pointer;
	background:url('#{facesContext.externalContext.requestContextPath}/resources/images/bg_p1.jpg') repeat-x left top;
}

.bt_header:hover
{
	height: 25px;
	padding: 2px 10px 2px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #3698a8;
	cursor: pointer;
	background:url('#{facesContext.externalContext.requestContextPath}/resources/images/bg_p2.jpg') repeat-x left top;
}

.bt_viewCus
{
	padding: 28px 5px 28px 5px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px inset #2985ad;
	cursor: pointer;
	background:url('#{facesContext.externalContext.requestContextPath}/resources/images/bg_btV.jpg') repeat-x left top;
	
}

.bt_viewCus:hover
{
	padding: 28px 5px 28px 5px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px inset #2985ad;
	cursor: pointer;
	background:url('#{facesContext.externalContext.requestContextPath}/resources/images/bg_btV1.jpg') repeat-x left top;
	
}
.bg_list
{
	background:url('#{facesContext.externalContext.requestContextPath}/resources/images/bt_list.png') no-repeat;
	padding: 0px 0px 0px 15px;
}

.bt_bassic
{
	height: 22px;
	padding: 3px 10px 4px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #3698a8;
	cursor: pointer;
}
.bt_select
{
	height: 25px;
	padding: 3px 10px 3px;
	color: #2293c4;
	text-decoration: none;
	font-weight: bold;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #2293c4;
	cursor: pointer;
}

.button_tabs
{
	font-size: 14px;
	font-weight: bold;
	width: 192px;
	border: 2px solid #3157aa;
	height: 34px;
	background:url('#{facesContext.externalContext.requestContextPath}/resources/images/bg_btp1.jpg');
	color: white;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	cursor:pointer;
}

.button_editpro
{
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	width: 192px;
	border: 2px solid #939393;
	height: 34px;
	background:url('#{facesContext.externalContext.requestContextPath}/resources/images/bg_btp2.jpg');
	color: #3157aa;
	cursor:pointer;
	margin-bottom:-2px;
	padding:0px;
}

.ttNewPro
{
	background:url('#{facesContext.externalContext.requestContextPath}/resources/images/bg_p3.png') no-repeat;
	padding: 3px 0px 3px 25px;
	color: #2e4ec4;
	font-size: 18px;
}
.bgPanel
{
	background:url('#{facesContext.externalContext.requestContextPath}/resources/images/bg_p6.jpg') repeat-y;
	border-bottom: 1px solid #cfcfcf;
}

.bgPanel1
{
	background:url('#{facesContext.externalContext.requestContextPath}/resources/images/bg_p7.jpg') repeat-y;
	border-bottom: 1px solid #cfcfcf;
}

.bgPanelHead
{
	border-bottom: 1px solid #cfcfcf;
	height: 35px;
	border-top: 2px solid #b0cde9;
	width: 960px;
	background:url('#{facesContext.externalContext.requestContextPath}/resources/images/bg_p6.jpg') repeat-y;
}

.cmd1
{
	height: 20px;
	padding: 3px 10px 3px;
	color: red;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #c7c7c7;
	cursor: pointer;
}

.bodyPanel 
{
	font-size:12px;
}

.panel
{
	border: 0px;
	background: white;
}

.bt_focus, .bt_focus:hover
{
	background:url('#{facesContext.externalContext.requestContextPath}/resources/images/bt_down.PNG') no-repeat top left #ff6200;
	padding: 3px 5px 3px 20px;
	color: white;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.bt_submit, .bt_submit:hover
{
	padding: 10px 20px 10px 20px;
	color: #444444;
	font-weight: bold;
	text-decoration: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #c7c7c7;
	cursor: pointer;
	background:url('#{facesContext.externalContext.requestContextPath}/resources/images/bt_submit.PNG') no-repeat;
}
.modelPanelStyle
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #999999;
	background:url('#{facesContext.externalContext.requestContextPath}/resources/images/bg_pp1.png') no-repeat #fff;
	width: 944px;
	height: 85px;
	margin: 10px 5px 10px 5px;
}
